
/* .home {
} */

.home__box {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.home__header {
  font-size: calc(10px + 2vmin);
}

.home__body {
  margin-top: 1rem;
}
